<h2><%= resource_name.to_s.humanize %><%=t 'devise.registrations.edit.edit_prodile' %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :zipcode %>
    <%=t 'devise.registrations.edit.please_type_using_half_width_caharacters' %><br />

    <%= f.text_field :zipcode, autofocus: true, autocomplete: "zipcode" %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

    <div class="field">
    <%= f.label :introduction %>
    <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%=t 'devise.registrations.edit.currently_waiting_confirmation_for_email' %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :password %><%=t 'devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it' %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %><%=t 'devise.registrations.edit.characters_minimum' %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><%=t 'devise.registrations.edit.need_password' %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.edit.update') %>
  </div>
<% end %>

<h3><%=t 'devise.registrations.edit.cancel_my_account' %></h3>

<p><%=t 'devise.registrations.edit.unhappy' %> <%= button_to t('devise.registrations.edit..cancel_accout_botton'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to t('links.back'), books_path %>
