<p><%= link_to t('show.follow')+": #{@user.followers.count}", followings_user_path(@user.id) %></p>
<p><%= link_to t('show.follower')+": #{@user.followings.count}", followers_user_path(@user.id) %></p>

<% if current_user && @user != current_user %>
  <% if current_user.following?(@user)  %>
    <%= button_to t('show.unfollow'), relationship_path(@relationship), method: :delete %>
  <% else %>
     <%= form_for(@user.followers.build) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit t('show.follow'), class: 'btn btn-primary btn-block' %>
    <% end %>
  <% end %>
<% end %>

<% if @user == current_user %>
  <%= link_to t('links.edit_profile'), edit_user_registration_path %>
<% end %>

<p>
  <%= image_tag @user.avatar, size: '320x280' if @user.avatar.attached? %>
</p>
<p>
  <strong><th><%=User.human_attribute_name(:name) %>:</th></strong>
  <%= @user.name %>
</p>
<p>
  <strong><th><%=User.human_attribute_name(:zipcode) %>:</th></strong>
  <%= @user.zipcode %>
</p>
<p>
  <strong><th><%=User.human_attribute_name(:address) %>:</th></strong>
  <%= @user.address %>
</p>
<p>
  <strong><th><%=User.human_attribute_name(:introduction) %>:</th></strong>
  <%= @user.introduction %>
</p>
<p>
  <strong><th><%=User.human_attribute_name(:email) %>:</th></strong>
  <%= @user.email %>
</p>
 <%= link_to t('links.back'), books_path %>
