<p>
  <strong><th><%=Book.human_attribute_name(:title) %>:</th></strong>
  <%= @book.title %>
</p>

<p>
  <strong><th><%=Book.human_attribute_name(:memo) %>:</th></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><th><%=Book.human_attribute_name(:author) %>:</th></strong>
  <%= @book.author %>
</p>

<p>
  <strong><th><%=Book.human_attribute_name(:picture) %>:</th></strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<p>
  <strong>posted by</strong>
  <%= @book.user.name %>
</p>

<%= link_to t('links.edit'), edit_book_path(@book) %> |
<%= link_to t('links.back'), books_path %>
