<p><%= t('devise.mailer.email_changed.greeting') %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.message') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>W<%= t('devise.mailer.email_changed.message') %> <%= @resource.email %>.</p>
<% end %>
