<p>
  <strong><th><%=Report.human_attribute_name(:title) %>:</th></strong>
  <%= @report.title %>
</p>

<p>
  <strong><th><%=Report.human_attribute_name(:memo) %>:</th></strong>
  <%= @report.memo %>
</p>

<p>
  <strong><%= t("posted_by") %></strong>
  <%= link_to @report.user.name, user_path(@report.user) %>
</p>

<%= link_to t('links.edit'), edit_report_path(@report) %> |
<%= link_to t('links.back'), reports_url %>
